#form {
    background-color: lightskyblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
}

body {
   background-color: lightblue !important;
}

#nombre {
    width: 70%;
}

#apellido {
    width: 70%;
}

#empresa {
    width: 70%;
}

#titulo {
    text-align: center;
}

#label1 {
    font-style: italic;
    text-decoration: underline;
}

#label2 {
    font-style: italic;
    text-decoration: underline;
}
