#form {
    background-color: lightskyblue;
    font-family: "Lucida Console", "Courier New", monospace;
    
}

body {
   background-color: lightblue !important;
}

#nombre {
    width: 70%;
}

#apellido {
    width: 70%;
}

#empresa {
    width: 70%;
}

